/* =========================================================
   BASE
========================================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    font-family: "Manrope", sans-serif;
    color: #171717;
    background: #ffffff;

    line-height: 1.5;
}

.container {
    width: min(1280px, calc(100% - 80px));
    margin: 0 auto;
}


/* =========================================================
   HEADER
========================================================= */

.header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}

.header .container {
    min-height: 82px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #171717;
    text-decoration: none;

    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 36px;

}

.header nav a {
    color: #555555;
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;

    transition: color 0.2s ease;
}

.header nav a:hover {
    color: #111111;
}


/* =========================================================
   HERO
========================================================= */

.hero {
    padding: 70px 0 80px;
    background: #ffffff;
}

.hero-top {
    min-height: 600px;

    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    align-items: center;
    gap: 70px;
}

.hero-content {
    max-width: 570px;
}

.hero-content h1 {
    margin-bottom: 25px;

    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.055em;
}

.hero-content p {
    max-width: 470px;
    margin-bottom: 34px;

    color: #666666;

    font-size: 17px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main-button,
.second-button {
    min-height: 52px;
    padding: 0 25px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    font-size: 14px;
    font-weight: 600;

    transition: 0.2s ease;
}

.main-button {
    color: #ffffff;
    background: #171717;
    border: 1px solid #171717;
    border-radius: 8px;
}

.main-button:hover {
    background: #333333;
    border-color: #333333;
}

.second-button {
    color: #171717;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
}

.second-button:hover {
    border-color: #171717;
}

.hero-image {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
}